:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
.contenedor {
    margin: 0 auto;
    max-width: 120rem;
    width: 90%;
}

/** HEADER **/
.header{
    background-image: url(../img/header_bg.svg);
    background-position: top right;
    background-repeat: no-repeat; 
    background-size: 10rem;
    padding: 5rem 0;
}
@media (min-width: 768px) {
    .header{
        background-size: 50rem;
    }
}

@media (min-width: 992px) {
    .header{
        background-size: 60rem;
    }
}

@media (min-width: 1280px){
    .header{
        background-size: 80rem;
    }
}

.header__contenedor {
    margin: 0 auto;
    max-width: 120rem;
    width: 90%;
}
    
@media (min-width: 768px) {
    .header__barra{
        display: flex;
        justify-content: space-between;
    }
}

.header__logo{
    margin: 0 auto 3rem auto;
    width: 15rem;
}

@media (min-width: 768px) {
    .header__logo{
        margin: 0;
    }
    .header__grid{
        align-items:center;
        display: grid;
        gap: 6rem;
        grid-template-columns: repeat(2,1fr);
    }
}

.header__heading{
    font-size: 3rem;
    text-align: center;
}

@media (min-width: 768px) {
    .header__heading{
        font-size: 5rem;
        line-height: 1.2;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .header__imagen{
        margin: 0 auto;
        max-width: 30rem;
    }
}

.header__boton{
    background-color: var(--primario);
    color: var(--blanco);
    display: block;
    margin-bottom: 4rem;
    padding: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .header__boton{
        display: inline-block;
        padding: 1rem 4rem;
    }
}

.navegacion{
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion{
        align-items: flex-start;
        flex-direction: row;
        gap: 2rem;
    }
}

.navegacion__link{
    color: var(--primario);
}

@media (min-width: 768px) {
    .navegacion__link{
        color: var(--blanco)
    }
}